name: Docker CI

on:
  workflow_dispatch:   # Enkel manueel starten
  
jobs:
  docker:
    runs-on: ubuntu-latest
    environment: DOCKER
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set tags
        id: meta
        run: |
          if [[ "${GITHUB_REF_TYPE}" == "tag" ]]; then
            echo "tags=${ secrets.DOCKERHUB_USERNAME }/calculator-app-finished:${GITHUB_REF_NAME}" >> $GITHUB_OUTPUT
          else
            echo "tags=${ secrets.DOCKERHUB_USERNAME }/calculator-app-finished:latest" >> $GITHUB_OUTPUT
          fi

      - name: Build and Push Docker image
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ steps.meta.outputs.tags }}

      - name: Scan image for CVEs
        uses: docker/scout-action@v1
        with:
          command: cves
          image: ${{ steps.meta.outputs.tags }}
